*{
  box-sizing: border-box;
}
.otp_auth_container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 20px;
  height: 96vh;
  width: 100vw;
  background-color: var(--otp_auth_cont_bg);
}
.otp_auth_container_box{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: var(--otp_auth_cont_box_bg);
  width: 65rem;
  height: 25rem;
  position: relative;
}

.auth_title_section{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 45%;
  height: 68%;
  margin-bottom: auto;
  margin-top: 4rem;
}

.auth_title_section>h1{
  padding: 0;
  margin: 0;
  font-size: 40px;
  color: var(--otp_auth_title_h1);
  line-height: 40px;
}

.auth_title_section>p{
  width: 14rem;
  margin-top: 2rem;
  color: var(--otp_auth_title_p);
}

.auth_title_section>button{
  margin-top: auto;
  width: 100px;
  background: none;
  border: 1px solid var(--otp_auth_title_p);
  border-radius: 20px;
  color: var(--otp_auth_title_button_clr);
}

.auth_title_section>button:hover{
  background-color: var(--auth_region);
}

.otp_auth_frm{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 45%;
  height: 68%;
}

.otp_auth_frm>input{
  border: none;
  background: none;
  border-bottom: 1px solid var(--otp_auth_title_p);
  height: 40px;
  padding-inline: 20px;
  outline: none;
  border-radius: 18px;
  color: var(--grp_selected_spanclr);
}

.otp_auth_frm>input::placeholder{
  color: var(--otp_auth_title_p);
}
.otp_auth_frm>label{
  text-align: center;
  color: var(--otp_auth_title_p);
}
.submit_box_btn{
  display: flex;
  margin-top: auto;
  flex-direction: column;
  align-items: end;
}
.submit_box_btn>small{
  margin-bottom: 13px;
  font-size: 14px;
  color: #f54141;
  cursor: pointer;
  font-weight: bold;
}
.submit_box_btn>button{
  width: 100px;
  margin-left: auto;
  margin-top: 20px;
  margin-top: auto;
  border-radius: 20px;
  background-color: var(--otp_auth_title_p);
  color: var(--otp_auth_title_button_clr);
}

.submit_box_btn>button:hover{
  background-color: var(--authSubmit_bg);
}

.auth_terms{
  position: absolute;
  bottom: -35px;
  right: 40px;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
  color: var(--auth_region);
}

@media (max-width: 426px) {
  .otp_auth_container{
    box-sizing: border-box;
    padding-inline: 25px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .otp_auth_container_box{
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-inline: 30px;
    padding-bottom: 30px;
  }
  .otp_auth_container::-webkit-scrollbar{
    display: none;
  }
  .auth_title_section{
    width: 100%;
  }
  .otp_auth_frm{
    margin-top: 30px;
    width: 100%;
  }
}