.Chanel_logo_App {
  width: 2.2rem;
  height: 2.2rem;
  margin: auto;
  border-radius: 100%;
  background-color: var(--nav_logo_background);
  display: flex;
}
.fstChar_logo_App {
  margin: auto;
  color: var(--nav_logo_text);
  font-weight: bolder;
  cursor: pointer;
}

.container_Pages_App {
  height: 100vh;
  display: flex;
  background-color: var(--body_background);
}
.container2_Pages_App {
  width: 100vw;
  height: 97vh;
  border-top: 2px solid var(--body_forground_800);
  overflow-y: auto;
  padding-bottom: 20px;
}

.video_box_app {
  height: 220px;
  min-width: 21rem;
  max-width: 31rem;
  height: auto;
  border: 2px solid transparent;
  flex: 1;
}
video {
  background-color: var(--body_forground);
  /* background-color: #080808a9; */
}
.dot {
  height: 4px;
  width: 4px;
  border-radius: 100%;
  background-color: var(--dot);
  margin: auto 0.5rem;
}
@media (max-width: 768px) {
  .at_small_sizel {
    display: none;
  }
  /* .container2_Pages_App::-webkit-scrollbar{
    display: none;
  } */
}
.container2_Pages_App::-webkit-scrollbar {
  display: none;
}
@media (max-width: 375px) {
  .video_box_app {
    width: 100vh;
  }
}
