.Chanel_logo_App {
  width: 2.2rem;
  height: 2.2rem;
  margin: auto;
  border-radius: 100%;
  background-color: rgb(224, 227, 214);
  display: flex;
}
.fstChar_logo_App {
  margin: auto;
  color: black;
  font-weight: bolder;
  cursor: pointer;
}

.container_Pages_App {
  height: 100vh;
  display: flex;
  background-color: rgb(19, 19, 19);
  /* border: 1px solid red; */
}
.container2_Pages_App {
  /* width: calc(100vw - 5rem);
  height: calc(100vh - 3.65rem); */
  width: 100vw;
  height: 97vh;
  border-top: 2px solid rgb(128, 128, 128, 0.45);
  overflow-y: auto;
  padding-bottom: 20px;
  /* border: 1px solid red; */

}

.video_box_app {
  height: 220px;
  min-width: 21rem;
  max-width: 31rem;
  height: auto;
  border: 2px solid transparent;
  flex: 1;
  /* margin-bottom: 1rem; */
  /* width: 21rem; */
  /* height: 17rem; */
}
video {
  background-color: rgba(8, 8, 8, 0.662);
}
.dot {
  height: 4px;
  width: 4px;
  border-radius: 100%;
  background-color: white;
  margin: auto 0.5rem;
}
@media (max-width: 768px) {
  .at_small_sizel {
    display: none;
  }
  /* .container2_Pages_App::-webkit-scrollbar{
    display: none;
  } */
}
.container2_Pages_App::-webkit-scrollbar{
    display: none;
}
@media (max-width: 375px){
  .video_box_app{
    width: 100vh;
  }
}