body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --body_background: #131313;
  --body_background_800: #121212;
  --body_background_850: #272727;
  --body_forground: #212121;
  --body_forground_850: #2c2c2c;
  --body_second_topbtn_nav: #2e2e2e;
  --body_second_topbtn_navHover: #808080;
  --body_second_top_navlight: #80808045;
  --body_forground_800: #3c3c3c;
  --body_forground_700: #4c4b4b;
  --search_background_btn: #474747;
  --nav_logo_background: #e0e3d6;
  --nav_logo_text: black;
  --navbar_border: #131313;
  --channel_text: #c5c5c5;
  --channel_avatar_bg: #121212;

  --search_text: #3c3c3c;
  --forground_text: #f0f8ff;
  --forground_text_700: #c5c5c5;
  --video_page_background: #111111;
  --dot: white;
  --scrollbarThumb: gray;
  --authBorder: #3ea6ff;
  --logo_tag_text: aliceblue;

  --left_Sidebar_background: #252525;
  --left_Sidebar_icon: rgba(255, 255, 255, 0.855);
  --drawer_leftSidebar_bg: #1c1c1c;
  --channel_hover: #4d4df3;
  --home_bg_transparent: rgba(0,0,0,0.486);

  --loading_animation_background: linear-gradient(110deg, #1a1a1a 8%, #212121 18%, #1a1a1a 33%);
  --loading_bg_clr: #1a1a1a;
  --loading_box_border: #1f1f1f;
  --video_title_des: rgba(250, 235, 215, 0.555);
  --video_title_text: antiquewhite;
  --showVidMobile_loading_bg: linear-gradient(110deg, #0f0f0f 8%, #181818 18%, #0f0f0f 33%);

  --whl_box_background: rgba(0, 0, 0, 0.153);
  --video_page_background: black;
  --video_controls_background: linear-gradient(to top, rgba(0, 0, 0.75), transparent);
  --video_page_log: #ffffffaa;
  --video_page_logBorder: rgba(0, 0, 0, 0.19);
  --video_page_title_section_brder: #f5deb32d;
  --red_caption_icon: red;

  --comment_border_bottom: #404040;
  --comment_border_bottom_low: #4040400d;
  --comment_border_bottom_800: #f0f8ff0d;
  --cmnt_del_btn: #2c55d1b1;
  --channel_edit_bg: blue;
  --channel_edit_brdr: #e78c0e;

  --chat_bg_logo: #0f0f0f;
  --chat_nav_btm_brdr: #4c4b4b;
  --cretegrp_selectbtn: #111111;
  --Nochat_foreground: #212121;
  --selected_member_bg: #272727;
  --grp_createNameInput: white;
  --grp_chat_bx_brdr: #050505;
  --grp_selected_spanclr: #c2c2c2;
  --grp_selected_spanclrHover: #e3dacf;
  --grf_form: #2f2f2f;
  --grf_formHover: beige;

  --auth_cont_background: #101010;
  --create_channel_cont: rgba(0, 0, 0, 0.697);
  --create_channel_cont2: rgba(55, 57, 67, 0.294);
  --create_channel_inputT: #89f3fa;
  --create_channel_cut: orange;

  --otp_auth_cont_bg: #131313;
  --otp_auth_cont_box_bg: black;
  --otp_auth_title_h1: #444444;
  --otp_auth_title_p: #444444;
  --otp_auth_title_button_clr: #c4c1c1;
  --auth_region: white;
  --authSubmit_bg: #131313;
}

.white-theme{
  --body_background: #FFFFFF;
  --body_background_800: white;
  --body_background_850: white;
  --body_forground: white;
  --body_forground_850: white;
  --body_forground_800: #d7e0e9;
  --body_forground_700: white;
  --search_background_btn: #d7e0e9;
  --nav_logo_background: #d7e0e9;
  --channel_avatar_bg: #d7e0e9;
  --auth_cont_background: #f0f0f0;
  --grf_form: #d7d7d7;
  --left_Sidebar_background: white;
  --left_Sidebar_icon: black;
  --drawer_leftSidebar_bg: white;
  --body_second_top_navlight: #d7e0e9;
  --body_second_top_navbtn: white;
  --body_second_topbtn_navHover: #d7e0e9;
  --nav_logo_text: black;
  --forground_text: black;
  --forground_text_700: black;
  --video_page_background: white;
  --dot: gray;
  --authBorder: #3ea6ff;
  --logo_tag_text: black;
  --home_bg_transparent: rgba(0, 0, 0, 0.056);
  --video_controls_background: linear-gradient(to top, #f8f8f879, transparent);
  --loading_animation_background: linear-gradient(110deg, #f1f1f1 8%, #fff 18%, #f1f1f1 33%);
  --showVidMobile_loading_bg: linear-gradient(110deg, #f1f1f1 8%, #fff 18%, #f1f1f1 33%);
  --video_title_text: black;
  --video_title_des: gray;
  --loading_box_border: white;
  --video_page_log: #d7e0e9;
  --video_page_logBorder: white;
  --video_page_title_section_brder: #f7f7f7;
  --comment_border_bottom: #404040;
  --comment_border_bottom_low: #4040400d;
  --comment_border_bottom_800: #f0f8ff0d;
  --whl_box_background: rgba(0, 0, 0, 0.153);
  --chat_bg_logo: #fff;
  --cretegrp_selectbtn: #c4c4c4;
  --grp_chat_bx_brdr: #eef2f7;
  --grp_selected_spanclrHover: #d7e0e9;
  --grp_selected_spanclr: gray;
  --grf_formHover: gray;
  --grp_createNameInput: #f0f0f0;
  --selected_member_bg: #dee5eb9c;
  --create_channel_cont: rgba(0, 0, 0, 0.057);
  --create_channel_cont2: #ffffff99;
  --create_channel_inputT: #daf3f5;
  --chat_nav_btm_brdr: #d7e0e9;
  --Nochat_foreground: #cbcbcb;
  --navbar_border: #e4edef;
  --search_text: #202020;
  --otp_auth_cont_bg: #00000015;
  --otp_auth_cont_box_bg: #fcfcfc;
  --otp_auth_title_h1: #444444;
  --otp_auth_title_p: #d9d9d9;
  --otp_auth_title_button_clr: #313131;
  --auth_region: #7e7e7e;
  --authSubmit_bg: #d7e0e9;
  --channel_text: #506191;
  --channel_edit_brdr: black;
  --channel_edit_bg: #d7e0e9;
}

::-webkit-scrollbar {
  width: 2px;
  height: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--scrollbarThumb);
  border-radius: 5rem;
}
