.container_libraryPage{
    border-bottom:1px solid grey ;
    /* padding: 1rem 2rem; */
    color: aliceblue;
}

.title_container_LibraryPage{
    margin: 0.5rem 4rem;
}
.title_container_LibraryPage b{
    margin:  auto 0.5rem;
    padding:  auto 0.5rem;
    font-size: medium;
        color: #ffffff;
}
.container_videoList_LibraryPage{
    display: flex;
    margin-bottom: 2rem;
    /* max-height: 80vh; */
    height: auto;
    width: 90vw;
    overflow-y: auto;
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
  /* height: 100vh; */
    /* border-top: 2px solid rgb(128, 128, 128, 0.45); */
}
.container_videoList_LibraryPage::-webkit-scrollbar{
     display: none;
}
@media (max-width:425px){
    .container_libraryPage{
      padding-left:0 ;
      padding-right: 0;
    }
}