.chat_container {
  height: 92.7vh;
  display: flex;
  color: var(--logo_tag_text);
  box-sizing: border-box;
}
.sidebar_background {
  border-right: 1px solid var(--body_background_800);
  box-sizing: border-box;
  background: var(--body_forground);
  border-right: 1px solid var(--navbar_border);
}
.s_header {
  min-width: 20rem;
  margin-inline: 20px;
  margin-top: 20px;
  flex: 1;
}
.s_header > h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  position: relative;
}
.add_group {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 25px;
  color: rgb(8, 8, 8);
  cursor: pointer;
}
.add_group:hover {
  color: var(--grf_formHover);
}
.s_header > div {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--body_forground_800);
  border-radius: 7px;
  min-width: 19.8rem;
  margin-bottom: 20px;
  background-color: var(--body_background);
  flex: 1;
}
.s_header > div > input {
  padding-inline: 12px;
  width: 99%;
  height: auto;
  border: none;
  color: var(--logo_tag_text);
  border-radius: 6px;
  background: none;
  outline: none;
}
.s_chat_box_container {
  height: 72vh;
  padding-block: 12px;
  padding-inline: 8px;
  overflow-y: auto;
}
/* .s_chat_box_container::-webkit-scrollbar {
    display: none;
} */

.s_chat_box {
  box-sizing: border-box;
  display: flex;
  gap: 1rem;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding-block: 8px;
  padding-inline: 13px;
}
.s_avatar {
  width: 50px;
  height: 50px;
  background-color: var(--body_background_800);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: larger;
  border: 1px solid var(--body_forground_800);
}
.s_avatar_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.chat_owner {
  display: flex;
  flex-direction: row;
  flex: 1;
  color: var(--forground_text);
}
.chat_owner > div {
  width: 190px;
  flex: 1;
}
.chat_owner > div > p,
h4 {
  width: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.chat_owner > div > p {
  display: -webkit-box;
  font-size: small;
  margin-top: 3px;
  overflow: hidden;
}

.chat_owner > span {
  padding-top: 4px;
  font-size: x-small;
}

.main_chat_container {
  background: var(--body_background_800);
  flex: 3;
}
.selected,
.s_chat_box:hover {
  background-color: var(--body_forground_800);
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 500px) {
  .chat_container {
    flex-direction: column;
  }
  .sidebar_background {
    height: auto;
  }
  .main_chat_container {
    height: 100%;
  }
  .navigate {
    display: none;
  }
}
@media (min-width: 1500px) {
  .chat_container {
    height: 97.4vh;
  }
  .sidebar_background {
    height: 97.4vh;
  }
  .s_chat_box_container {
    height: 86.2vh;
  }
}
