.Container_ShowVideoGrid{
    max-height: 87%;
    padding-left: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;   
    gap:1rem;
    /* border: 1px solid red; */
    overflow-y: auto;
    overflow-x: hidden;
}
.Container_ShowVideoGrid::-webkit-scrollbar{
    display: none;
}

