.navigation_Home {
  color: var(--forground_text);
  background-color: var(--left_Sidebar_background);
  position: sticky;
  display: flex;
  overflow-x: auto;
  top: 0;
  border-bottom: 2px solid var(--body_second_top_navlight);
  height: 58px;
}
.btn_nav_home {
  background-color: var(--body_second_top_navbtn);
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 45px;
  cursor: pointer;
}
.btn_nav_home:hover {
  background-color: var(--body_second_topbtn_navHover);
}
/* @media (max-width:768px) {
    .navigation_Home::-webkit-scrollbar {
        display: none;
    }
} */
.navigation_Home::-webkit-scrollbar {
  display: none;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.card.is-loading {
  height: 100vh;
  background: var(--body_forground);
  background: var(--showVidMobile_loading_bg);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}

.card {
  display: flex;
  color: var(--forground_text) !important;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  font-weight: bolder;
}
