.Container_SearchList {
  box-sizing: border-box;
  background-color: var(--nav_logo_background);
  width: 91.2%;
  position: absolute;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  top: 2.7rem;
  height: fit-content;
  z-index: 91;
}
.titleItem {
  margin: 0;
  cursor: pointer;
}
.titleLink {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 4px;
  text-decoration: none;
  color: var(--body_forground_800);
}
.titleLink:hover {
  color: var(--nav_logo_background);
  background-color: var(--body_forground_800);
  margin: 2px 3px;
  border-radius: 4px;
}

.titleItem p {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: medium;
}
