.SearchBar_Container {
  margin: auto;
  display: flex;
  flex-grow: 2;
}
.SearchBar_Container2 {
  margin: auto;
}
.search_div {
  display: flex;
  margin: auto;
  position: relative;
  z-index: 91;
}
.iBox_SearchBar {
  background-color: var(--body_background_800);
  width: 30rem;
  border: 1px solid var(--body_forground_800);
  border-radius: 5px 0 0 5px;
  color: var(--forground_text);
  font-size: large;
  padding: 0.2rem;
  height: 2rem;
  padding-left: 2rem;
  outline: none;
}

.searchIcon_SearchBar {
  cursor: pointer;
  padding: 0.75rem;
  width: 2rem;
  border-radius: 0 5px 5px 0;
  background-color: var(--search_background_btn);
  color: var(--logo_tag_text);
}
.searchIcon_SearchBar:hover {
  background-color: var(--search_background_btn);
}
.Mic_SearchBar {
  border-radius: 100%;
  padding: 0.5rem;
  background-color: var(--body_forground_800);
}

.vid_bell_Navbar,
.Mic_SearchBar {
  color: var(--forground_text) smoke;
  margin: auto 0.7rem;
}
@media (max-width: 700px) {
  .iBox_SearchBar {
    max-width: 7rem;
    height: 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .Mic_SearchBar {
    display: none;
  }
  .searchIcon_SearchBar {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 15px;
    padding: 8px;
    border: 1px solid rgba(128, 128, 128, 0.4);
  }
}
@media (min-width: 400px) and (max-width: 768) {
  .iBox_SearchBar {
    width: 10rem;
  }
}
