.cardblock1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  padding: 20px;
}
.cardblock {
  flex: 1;
}
.cardImage {
  max-width: 26rem;
  min-width: 20rem;
  height: 220px;
  border: 2px solid var(--loading_box_border);
  border-radius: 20px;
  background: var(--loading_animation_background);
  background-size: 200% 100%;
  animation: 3s shine linear infinite;
}
.description {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.picture {
  margin-top: 1rem;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: var(--loading_bg_clr);
  border: 2px solid var(--loading_box_border);
  background: var(--loading_animation_background);
  animation: 2s shine linear infinite;
  background-size: 200% 100%;
}
.cardSubdescription {
  padding: 0;
  margin: 4px;
  border-radius: 15px;
  width: 18rem;
  height: 12px;
  background-color: var(--loading_bg_clr);
  background: var(--loading_animation_background);
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}
.sub1 {
  width: 7rem;
}
.sub2 {
  width: 10rem;
}

@media (min-width: 300px) and (max-width: 768px) {
  .cardblock1 {
    flex-direction: column;
    padding: 8px;
    margin-top: 16px;
  }
  .cardImage {
    min-width: auto;
    height: 180px;
  }
  .description {
    margin-left: 12px;
  }
  .cardSubdescription {
    width: 15rem;
  }
  .sub1 {
    width: 7rem;
  }
  .sub2 {
    width: 10rem;
  }
}
